body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#top {
  text-align: center;
}

#logo {
  color: rgb(234, 234, 243);
  background-color: rgb(109, 109, 235);
  display: inline-block;
  font-size: 32px;
  font-weight: bolder;
  padding: 10px;
  margin-top: 20px;
}

#logo-name {
  color: rgb(109, 109, 235);
  background-color: white;
  font-size: 50px;
  font-weight: bold;
  margin: 18px;
}

#navigation a {
  color: rgb(6, 5, 10);
  padding: 30px;
  margin-bottom: 20px;
}
#navigation a:hover {
  color: rgb(3, 3, 3);
  font-size: 30px;
}

#image {
  padding-top: 5%;
  max-width: 100%;
  display: block;
}

#main {
  max-width: 800px;
  margin: auto;
}

#footer {
  text-align: center;
  color: grey;
  padding: 16px;
}
